{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Vitajte na našom aukčnom portále{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h2>Kto sme ?</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lectus eros, aliquet quis turpis nec, pharetra semper nisi. Ut ut nunc in massa faucibus facilisis. Donec et viverra purus. Suspendisse potenti. Integer quis bibendum ex. Quisque justo nisl, egestas et massa eu, interdum placerat ligula. Praesent sodales sagittis mollis. Etiam a cursus sapien. Nunc libero velit, pharetra at aliquam sit.
    </p>
    <h2>Cez 40 tisíc úspešne vydražených produktov !</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lectus eros, aliquet quis turpis nec, pharetra semper nisi. Ut ut nunc in massa faucibus facilisis. Donec et viverra purus. Suspendisse potenti. Integer quis bibendum ex. Quisque justo nisl, egestas et massa eu, interdum placerat ligula. Praesent sodales sagittis mollis. Etiam a cursus sapien. Nunc libero velit, pharetra at aliquam sit.
    </p>
    <h2></h2>

{% endblock %}